body{
    display: flex;
}

#films li{
    margin-bottom: 30px;
}

#films li:hover{
    text-decoration: underline;
}

li{
    list-style-type: none;
}

#movie-details{
    width: 500px;
    cursor: pointer;
}

li:hover{
    color: rgb(90, 41, 137);
    cursor: pointer;
}

img{
width: 400px;
}

.film-item{
    margin-right: 90px;
    align-items: center;
}

.film-item img{
    width: 50px;
    margin-right: 10px;
    margin-bottom: -20px;
}

h4{
    font-size: 20px;
}

button{
    padding: 10px 20px;
}